.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: 400;
}

a {
  color: #2196f3;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 20px;
  padding: 0px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 7px;
  color: rgba(51, 51, 51, .56);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #1565c0;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.white {
  background-color: #fff;
  color: #333;
}

.button.white:hover {
  background-color: hsla(0, 0%, 100%, .77);
}

.button.black {
  background-color: #333;
}

.button.black:hover {
  background-color: #000;
}

.button.black.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.full-width {
  display: block;
  width: 100%;
}

.button.small {
  padding: 7px 12px;
  background-color: #2196f3;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.button.small:hover {
  background-color: #1565c0;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #a8a8a8;
}

.button.tab:hover {
  background-color: #7e7e7e;
}

.button.tab.w--current {
  background-color: #2196f3;
}

.button.tab.w--current:hover {
  background-color: #1565c0;
}

.button.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.navigation-link {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-link:hover {
  color: #2196f3;
}

.navigation-link.white {
  color: #fff;
}

.navigation-bar {
  background-color: #fff;
}

.navigation-bar.dark {
  background-color: #5d5d5d;
}

.navigation-bar.top {
  margin-top: 58px;
  margin-bottom: 124px;
  border-radius: 5px;
  background-color: #fff;
}

.navigation-menu.left {
  float: left;
}

.navigation-menu.on-bottom {
  float: none;
  text-align: center;
}

.brand-text {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
}

.brand-link {
  height: 60px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand-link:hover {
  opacity: 0.66;
}

.brand-link.right {
  float: right;
}

.brand-link.on-top {
  display: block;
  float: none;
  text-align: center;
}

.brand-link.white {
  color: #fff;
}

.brand-link.left-spacing {
  margin-left: 15px;
  color: #fff;
}

.brand-link.left {
  margin-left: 16px;
}

.section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.section.centered {
  text-align: center;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.hero-slider {
  height: 455px;
  background-color: transparent;
}

.slide {
  padding-top: 82px;
  padding-right: 85px;
  padding-left: 85px;
  background-color: #dbdbdb;
}

.slide.two {
  background-color: #dbdbdb;
}

.header-section {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #5d5d5d;
  color: #fff;
  text-align: center;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 11px;
}

.cta-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dbdbdb;
}

.cta-section.centered {
  text-align: center;
}

.cta-section.centered-accented {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.cta-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.cta-heading.inline-block {
  display: inline-block;
  margin-top: 0px;
  margin-right: 13px;
}

.align-right {
  text-align: right;
}

.white-box {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.fixed-image-section {
  padding: 117px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, .25))), url('../images/example-bg.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/example-bg.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 125px;
  background-attachment: scroll, fixed;
  color: #fff;
  text-align: center;
}

.hero-section {
  height: 600px;
  padding-top: 178px;
  background-color: #f1f1f1;
  text-align: center;
}

.hero-section.centered {
  text-align: center;
}

.slider-navigation {
  font-size: 11px;
}

.slider-icon-circle {
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 33px;
}

.hero-subheading {
  margin-bottom: 18px;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 9px 20px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #2196f3;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #1565c0;
  color: #1565c0;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: hsla(0, 0%, 100%, .64);
  color: hsla(0, 0%, 100%, .72);
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading.centered {
  text-align: center;
}

.main-container {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.section-subheading.center {
  font-size: 20px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.section-title-group.centered {
  text-align: center;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-field:focus {
  box-shadow: 0 0 0 2px #2196f3;
}

.form-field.text-area {
  min-height: 110px;
}

.form-field.with-button {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.picture-border {
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
}

.round-image {
  margin-bottom: 13px;
  border-radius: 100px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #333;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.social-button:hover {
  background-color: #1565c0;
  opacity: 1;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, .36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-with-nav {
  background-color: #dbdbdb;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  background-color: #f1f1f1;
}

.footer.centered-accented {
  background-color: #f1f1f1;
  text-align: center;
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
}

.link:hover {
  color: #1565c0;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.sidemenu-wrapper {
  margin-left: 10px;
  padding-left: 20px;
}

.sidemenu-title {
  margin-bottom: 10px;
}

.sidemenu-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #8f8f8f;
  text-decoration: none;
}

.sidemenu-link:hover {
  color: #333;
}

.grid-image {
  margin-bottom: 20px;
}

.info-wrapper {
  margin-bottom: 14px;
}

.info-icon {
  float: left;
}

.info-text {
  margin-left: 34px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, .74);
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.hero-title-wrapper {
  margin-bottom: 155px;
}

.icon-left {
  padding: 6px;
  float: left;
  color: #919191;
}

.text-right {
  margin-left: 49px;
}

.left-navigation {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #dbdbdb;
}

.nav-link {
  display: block;
  padding: 7px 0px;
  text-align: center;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.content {
  overflow: hidden;
  width: 80%;
  float: left;
}

.social-footer {
  margin-top: 56px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.flushed-grid {
  width: 25%;
  float: left;
}

.flushed-grid.thirds {
  width: 33.33%;
}

.flushed-grid.sixths {
  width: 16.66%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.success-wrapper {
  padding: 31px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.success-message {
  margin-bottom: 0px;
}

.error-wrapper {
  border-radius: 5px;
  background-color: #d32f2f;
  color: #fff;
}

.error-message {
  margin-bottom: 0px;
}

.social-link-wrapper {
  text-align: center;
}

.background {
  background-color: #dbdbdb;
}

.custom-container {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.rich-text h1 {
  margin-top: 30px;
}

.rich-text h3 {
  margin-top: 30px;
}

.rich-text h5 {
  margin-top: 30px;
}

.rich-text h4 {
  margin-top: 30px;
}

.rich-text h6 {
  margin-top: 30px;
}

.image-column {
  text-align: center;
}

.content-column {
  padding-top: 42px;
}

.feature-column {
  text-align: center;
}

.center-content {
  text-align: center;
}

.waterfall-content-column {
  padding-top: 39px;
}

.waterfall-image-column {
  text-align: center;
}

.grid {
  grid-column-gap: 8px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.5fr 8px 1fr 8px 0.25fr 8px 1.5fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr;
  grid-template-columns: 0.5fr 1fr 0.25fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.button-9:active {
  background-color: #3f51b5;
}

.button-10 {
  width: 125px;
  height: 75px;
  padding: 4px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 4px 4px 7px 0 #000;
  color: #000;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.button-10:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .63)), to(rgba(0, 0, 0, .63)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .63), rgba(0, 0, 0, .63));
  color: #fff;
}

.body {
  padding: 0px;
  background-color: #333;
}

.div-block {
  position: relative;
  width: 20px;
  height: 75px;
  background-color: #d81b60;
  text-align: center;
}

.text-block {
  position: absolute;
  left: 30%;
  top: 30%;
  color: #fff;
  text-align: center;
}

.div2 {
  position: relative;
  width: 152px;
  height: 75px;
  background-color: #d81b60;
  color: #fff;
}

.tb2 {
  position: absolute;
  padding: 4px;
  font-size: 12px;
  line-height: 15px;
}

.text-block-2 {
  position: absolute;
  top: 30%;
  padding-left: 0px;
  color: #000;
  font-size: 14px;
  text-align: center;
}

.div-block-2 {
  position: relative;
  width: 42px;
  background-color: #fff;
}

.div-block-3 {
  position: relative;
  width: 42px;
  background-color: #fff;
  color: #000;
}

.text-block-3 {
  position: absolute;
  top: 30%;
  font-size: 14px;
  text-align: center;
}

.div-block-4 {
  position: relative;
  width: 140px;
  height: 75px;
  background-color: #fff;
}

.text-block-4 {
  padding-top: 5px;
  color: #000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.div-block-5 {
  position: relative;
  width: 90px;
  height: 75px;
  background-color: #fff;
}

.text-block-5 {
  margin-right: 4px;
  margin-left: 4px;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.text-block-6 {
  width: 125px;
  background-color: #5d5d5d;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.text-block-6.quarter {
  width: 20px;
  font-size: 11px;
  line-height: 14px;
}

.text-block-6.more {
  width: 140px;
}

.text-block-7 {
  background-color: #fff;
  color: #000;
  line-height: 30px;
  text-align: center;
}

.div-block-6 {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  height: 100vh;
  max-height: none;
  min-height: 0%;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #100a1c;
  background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .51), #0f091a), radial-gradient(circle farthest-corner at 50% 0%, rgba(0, 0, 0, .51), #0f091a 54%);
  color: #000;
}

.text-block-8 {
  display: inline-block;
  width: 100%;
  height: 43px;
  text-align: center;
}

.text-block-9 {
  text-align: center;
}

.text-block-10 {
  text-align: center;
}

.column {
  position: relative;
  height: 100%;
}

.text-block-11 {
  display: inline-block;
  width: 100%;
  height: 65px;
}

.text-block-12 {
  display: inline-block;
  width: 50%;
  height: 325px;
}

.text-block-13 {
  display: inline-block;
  width: 50%;
  height: 65px;
}

.text-block-14 {
  display: inline-block;
}

.grid-2 {
  grid-row-gap: 12px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.75fr 0.75fr 0.25fr 1.5fr;
  grid-template-columns: 0.75fr 0.75fr 0.25fr 1.5fr;
  -ms-grid-rows: 30px 12px 53px 12px 55px 12px 55px 12px 55px 12px 55px 12px 55px 12px 55px 12px 55px 12px 55px;
  grid-template-rows: 30px 53px 55px 55px 55px 55px 55px 55px 55px 55px;
}

.text-block-15 {
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .13);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.text-block-16 {
  padding-top: 0%;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 14px;
  background-color: hsla(0, 0%, 100%, .13);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

.text-block-17 {
  padding-top: 0%;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .13);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.text-block-18 {
  padding-top: 1%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.text-block-19 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.text-block-20 {
  padding-top: 2%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.text-block-21 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.text-block-22 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.text-block-23 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

.text-block-24 {
  padding-top: 2%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.text-block-25 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.text-block-26 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.text-block-27 {
  padding-top: 5%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.text-block-27.mon {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.text-block-28 {
  padding-top: 100%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-29 {
  padding-top: 40%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-30 {
  padding-top: 2%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-31 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-32 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-33 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-34 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-35 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-36 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-37 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-38 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-39 {
  padding-top: 30%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-40 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.text-block-41 {
  padding-top: 10%;
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.text-block-42 {
  border: 1px none #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, .13);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.panel {
  position: relative;
  left: 48%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #4caf50;
}

.panel.one {
  height: 100vh;
  background-color: #fff;
}

.panel.two {
  background-color: #c9c0c0;
}

.panel.three {
  background-color: #fff;
}

.content1 {
  width: 100%;
  padding: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-43 {
  color: #fff;
  text-align: center;
}

.grid-3 {
  margin-bottom: 0px;
  grid-row-gap: 11px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 30px 11px 53px 11px 55px 11px 55px 11px 55px 11px 55px 11px 55px 11px 55px 11px 55px 11px 55px;
  grid-template-rows: 30px 53px 55px 55px 55px 55px 55px 55px 55px 55px;
}

.text-block-44 {
  padding-top: 3%;
  border-radius: 20px;
  background-color: rgba(15, 9, 26, .77);
  box-shadow: 1px 1px 3px 0 #333;
  color: #fff;
  text-align: center;
}

.text-block-45 {
  padding-top: 3%;
  border-radius: 20px;
  background-color: rgba(16, 10, 28, .77);
  box-shadow: 1px 1px 3px 0 #333;
  color: #fff;
  text-align: center;
}

.text-block-46 {
  padding-top: 3%;
  border-radius: 20px;
  background-color: rgba(16, 10, 28, .77);
  box-shadow: 1px 1px 3px 0 #333;
  color: #fff;
  text-align: center;
}

.button-11 {
  position: relative;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1.5px none #1565c0;
  border-radius: 12px;
  background-color: rgba(16, 10, 28, .57);
  box-shadow: 2px 2px 5px 1px #333;
  font-family: Montserrat, sans-serif;
  color: #100a1c;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
}

.button-11.smal {
  padding-top: 10%;
}

.button-11.smallish {
  padding-top: 5%;
}

.button-11.col1:active {
  background-color: rgba(16, 10, 28, .87);
  color: #fff;
}

.div-block-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000005, 0.6000000000000005);
  -ms-transform: scale(0.6000000000000005, 0.6000000000000005);
  transform: scale(0.6000000000000005, 0.6000000000000005);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .hamburger-button:hover {
    color: #2196f3;
  }
  .hamburger-button.w--open {
    background-color: #333;
  }
  .hamburger-button.left {
    float: left;
  }
  .hamburger-button.white {
    color: #fff;
  }
  .hero-slider {
    height: 400px;
  }
  .form-wrapper.squeezed {
    padding-right: 10%;
    padding-left: 10%;
  }
  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .nav-menu {
    padding: 17px;
    background-color: #333;
  }
  .logo-link {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .social-footer {
    margin-top: 0px;
  }
  .content-column {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .brand-link.on-top {
    float: left;
  }
  .brand-link.left-spacing {
    padding-left: 0px;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-slider {
    height: 528px;
  }
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cta-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .cta-heading {
    margin-bottom: 10px;
  }
  .form-wrapper.squeezed {
    padding-right: 9px;
    padding-left: 0px;
  }
  .picture-border {
    margin-bottom: 13px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-fours {
    width: 33.33%;
  }
  .image-column {
    margin-bottom: 10px;
  }
  .content-column {
    margin-bottom: 13px;
    text-align: center;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .waterfall-content-column {
    padding-top: 0px;
    text-align: center;
  }
  .waterfall-image-column {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (max-width: 479px) {
  .button.tab {
    margin-bottom: 9px;
  }
  .hero-slider {
    height: 550px;
  }
  .slide {
    padding-right: 53px;
    padding-left: 53px;
  }
  .grid-fours {
    width: 50%;
  }
}

#w-node-0eb01737e881-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-387cacda71f3-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-1319d92eed41-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-9a43c39f44ee-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6b05e6c0ed53-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 5;
  grid-row-end: 8;
}

#w-node-0aadef0f5a7e-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-9fc31d25d5cd-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-3b46fb72109e-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-1ab5df8fdfef-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
}

#w-node-d83004f409fe-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-d9ec5b419087-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-99b9f695d21c-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-58736b26f295-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-dfe74f75b03b-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-ef6e09447dce-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-fb88fe1b0fce-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-89df5ef75c8e-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-9dfa05302c77-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-43eef5933489-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-cd23574ff0a0-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-b74d99068c72-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-13dedfd2cf53-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-6918de435f5b-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-3852da7c8309-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-0105b78b83af-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-ee59370dd9c9-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-97ba2f12abe7-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-4e45ed1b579e-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-973084e8826c-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-26d5f83d7e3d-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-e35b33a7947c-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-69ddd8e9edba-c848301d {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-3fbb95c236fa-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cf0dfe7daa30-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a35b225c27f1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-674def8d22b1-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6c50d37a4e7d-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4939868f5252-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-1e8a0ee4d58b-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-cf644f79df2c-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-8254a68ccb89-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-645195ea833f-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-fa3a700efe4c-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-3614f1890252-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-6ccdea53cbe7-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-69505d2d3de5-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-a29e9b687525-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-e748924f81b4-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-c61f5c82aff5-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-78d60926f8bc-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-2f5dd361c870-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-d27e288fe452-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-5ffd48f3c666-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-ba7d5ab5899d-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-eb1bb89159d2-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-ef577cb8adc8-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-6a267880df67-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-52d074c312ea-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-3524d23e27c1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-51ac93de0a17-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-7c44041af9d3-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-5ad28e82e3da-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-5e34277442a7-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-5e34277442a9-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-5e34277442ab-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-5e34277442ad-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5e34277442af-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5e34277442b1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5e34277442b3-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-5e34277442b5-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-5e34277442b7-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-5e34277442b9-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-5e34277442bb-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-5e34277442bd-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-5e34277442bf-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-5e34277442c1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-5e34277442c3-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-5e34277442c7-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-5e34277442c9-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-5e34277442cb-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-5e34277442cd-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-5e34277442cf-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-5e34277442d1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-5e34277442d3-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-5e34277442d5-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-5e34277442d7-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-5e34277442d9-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-5e34277442db-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-5e34277442dd-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-5e34277442df-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-5e34277442e1-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-5e34277442e3-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-7f1ced5a4ea2-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7f1ced5a4ea4-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7f1ced5a4ea6-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7f1ced5a4ea8-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-7f1ced5a4eaa-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-7f1ced5a4eac-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-7f1ced5a4eae-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-7f1ced5a4eb0-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-7f1ced5a4eb2-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-7f1ced5a4eb4-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-7f1ced5a4eb6-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-7f1ced5a4eb8-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-7f1ced5a4eba-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-7f1ced5a4ebc-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-7f1ced5a4ebe-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-7f1ced5a4ec2-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-7f1ced5a4ec4-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-7f1ced5a4ec6-c848301d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-7f1ced5a4ec8-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-7f1ced5a4eca-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-7f1ced5a4ecc-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-7f1ced5a4ece-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-7f1ced5a4ed0-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-7f1ced5a4ed2-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-7f1ced5a4ed4-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-7f1ced5a4ed6-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-7f1ced5a4ed8-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-7f1ced5a4eda-c848301d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-7f1ced5a4edc-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-7f1ced5a4ede-c848301d {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

